@import "../../../../../../variables"; // import material Colors from _variable.scss
@import "./../../../duty-roster-styles.scss";

// ===================================================== ***
.btn-gotoback {
    margin-bottom: 5px !important;
    font-size: 13px;
    font-weight: 500;
    // font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #b6e3eb;
    background: #138a9c;
    color: #b6e3eb;
}

.btn-gotoback:hover {
    margin-bottom: 5px !important;
    border: 1px solid #138a9c;
    background: #b6e3eb;
    color: #138a9c;
}
// ===================================================== ***