<section>
  <!-- shiftGroupShowLoader -->
  <div class="col-sm-12" *ngIf="shiftGroupShowLoader && !shiftGroups">
    <app-dutyroster-loader></app-dutyroster-loader>
  </div>

  <!-- shiftGroups -->
  <div class="col-sm-12" *ngIf="!shiftGroupShowLoader">
    <div class="row" *ngIf="shiftGroups && shiftGroups?.length > 0">
      <div class="col-sm-12" style="padding-left: 10px; padding-right: 10px;">
        <h6 class="mt-2 text-primary-500 font-weight-bold">Select Shift Group</h6>
      </div>
      <div class="col-sm-12">
        <hr style="margin-bottom: 5px; margin-top: 5px;">
      </div>
      <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
        <div class="alert alert-dismissible alert-danger" *ngIf="!shiftGroups">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Oh snap!</strong> You are are not assigned to any Shift Group ...
        </div>
        <div class="alert alert-dismissible alert-info" *ngIf="shiftGroups">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Information !</strong> Please select Shift Group to continue ...
        </div>

        <div class="row" *ngIf="shiftGroups">
          <div class="col-sm-3" *ngFor="let shiftGroup of shiftGroups">
            <div class="card card-shiftGroup-tile-01-Active text-white bg-info mb-3"
              (click)="selectShiftGroup(shiftGroup)">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12  no-gutters">
                    <h6 class="card-title-shiftGroup-tile-01">{{shiftGroup.Name}}</h6>
                  </div>
                  <div class="col-sm-12  no-gutters">
                    <p class="card-title-shiftGroup-tile-02">{{shiftGroup.Description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <button type="btn btn-link" class="btn btn-info float-left btn-gotoback"
              *ngIf="shiftGroupsPaginationInfo?.TotalPages > shiftGroupsPaginationInfo?.PageNumber"
              (click)="viewMoreShiftGroups(shiftGroupsPaginationInfo?.PageSize, (shiftGroupsPaginationInfo?.PageNumber + 1))">Show
              More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
