<div class="row">
  <div class="col-sm-12">
    <div class="d-flex justify-content-center">
      <div class="row">
        <div class="col-sm-12">
          <!-- <div class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="font-size:80px; color:#e0e3e4"></div> -->
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="col-sm-12">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>