
@import "./../../../e-service-styles.scss";

.list-group-item {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;

    margin-top: 8px !important;
    margin-bottom: 8px !important;
    // background-color: #94C2ED;
    background-color: #cce4fc;
}