<div class="card card-two">
    <header>
        <div class="avatar" *ngIf="!myProfilePictureBase64">
            <img src="../../../../../assets/images/profile-image-1.jpg" alt="profile-image" />
        </div>
        <div class="avatar" *ngIf="myProfilePictureBase64">
            <img [src]="myProfilePictureBase64" alt="{{myProfile.Name}}" />
        </div>
    </header>

    <div class="card-name">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="card-name-text">{{myProfile?.Name}}</div>
            </div>
        </div>
    </div>

    <div class="card-desc">
        <div class="row  justify-content-center" style="padding-bottom: 10px;">
            <div class="col-sm-12">
                <div class="card-desc-text-1">{{myProfile?.Designation}}</div>
            </div>
            <div class="col-sm-12">
                <div class="card-desc-text-2">{{myProfile?.Department}}</div>
            </div>
        </div>
    </div>
    <footer>
        <p>
            <a href=""><i class="fa fa-clock-o"></i> {{today | date: 'dd MMM yyyy HH:mm'}} </a>
        </p>
    </footer>
</div>