@import "./../../online-application-styles.scss";

.application-label {
    color: $bg-primary-700;
    font-size: 12px !important;
    font-weight: 500 !important;
}

.application-text {
    color: #000000;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.application-documents-download-filetype {
    max-width: 100% !important;
    width: 100% !important;
    text-align: center !important;
    align-items: center !important;
    font-weight: 500;
    font-size: 10px;
    font-family: Arial Narrow, Arial, sans-serif;
    padding-top: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 0px !important;
}


.application-documents-download-filename {
    max-width: 100% !important;
    width: 100% !important;
    text-align: center !important;
    align-items: center !important;
    font-weight: 500;
    font-size: 12px;
    font-family: Arial Narrow, Arial, sans-serif;
    padding-top: 2px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 0px !important;
}



.application-documents-list-group-item {
    // display: inline-block;
    margin-left: 5px !important;
    margin-top: 5px !important;
    padding: 5px !important;
    font-weight: 500;
    border-radius: 6px !important;
    text-align: center !important;
    align-items: center !important;
    max-width: 102px !important;
    width: 102px !important;
    background-color: #eee !important;
    text-decoration: none !important;
}

.application-documents-list-group-item:hover {
    background-color: $bg-primary-50 !important;
    color: $bg-primary-700 !important;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    -moz-box-shadow: 0 0 11px rgba(33,33,33,.2);
    -webkit-box-shadow: 0 0 11px rgba(33,33,33,.2);
    border: 1px solid #757575 !important;

}