<section>
  <main role="main" class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="mt-3 text-primary-500 font-weight-bold">Search E-Portal User</h4>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-3" style="padding-right: 5px;">
                <div class="form">
                  <div class="input-group mb-12">
                    <input type="text" class="form-control" [(ngModel)]="searchText"
                      placeholder="Mobile No | Email | Account No | Meter No" aria-label="Recipient's username"
                      aria-describedby="basic-addon2" name="searchText" id="searchText">
                    <div class="input-group-append">
                      <button class="btn btn-success" type="button" [disabled]="!searchText"
                        (click)="searchPortalUser(searchText)">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-9">
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <hr style="margin-bottom: 10px; margin-top: 10px;">
          </div>
          <!-- View eService User List -->
          <div class="col-sm-12" *ngIf="eServiceUsers">
            <app-e-service-user-list-view [eServiceUsers]="eServiceUsers"
              [eServiceUserShowLoader]="eServiceUserShowLoader"></app-e-service-user-list-view>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>