@import "./../../../nfc-guard-patrol-styles.scss";
.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00897b+0,00897b+47,2fa196+100 */
    background: #00897b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #00897b 0%, #00897b 47%, #2fa196 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00897b 0%, #00897b 47%, #2fa196 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00897b 0%, #00897b 47%, #2fa196 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00897b', endColorstr='#2fa196', GradientType=0);
    /* IE6-9 */
}

.nav-item .nav-link {
    font-size: 13px;
}

.nav-item-icon {
    font-size: 18px;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
    color: $bg-primary-900 !important;
}

.nav-item .nav-link:a {
    color: $bg-primary-900 !important;
}

.navbar .nav-item .nav-link {
    color: #ffffff !important;
    font-weight: 500;
}

.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link {
    color: red !important;
}

.dropdown-menu .dropdown-item {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $bg-primary-900 !important;
    background: $bg-primary-50 !important;
    font-weight: 500;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    padding-top: 5px;
    padding-bottom: 5px;
    background: $bg-primary-900 !important;
    color: $bg-primary-50 !important;
}

.dropdown-menu {
    background: $bg-primary-50 !important;
}

.navbar-brand {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    flex-grow: 1;
    color: #ffffff !important;
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle !important;
}