<div class="card sm-12">
  <div class="card-header text-white bg-primary">Customer Search | By User</div>
  <div class="card-body">
    <form class="form-inline">
      <div class="form-group mb-2">
        <label for="staticEmail2">Customer ID</label>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="searchText" placeholder="30012345">
      </div>
      <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search fa-fw"></i> Search</button>
    </form>
  </div>
</div>

<hr>

<!-- <div class="card sm-12"> -->
<div class="card sm-6">
  <div class="card-header text-white bg-primary"><i class="fa fa-envelope-o fa-fw text-warning"></i> someone@mail.com |
    <i class="fa fa-phone fa-fw text-warning"></i> 7770011</div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="card-title text-center text-truncate">Green House</h4>
      </div>
      <div class="col-sm-12">
        <p class="card-text text-center text-muted text-truncate">Flat 101-G-04</p>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-6">
        <p class="card-text text-center text-muted">Account Number</p>
      </div>
      <div class="col-sm-6">
        <p class="card-text text-center text-muted">Meter Number</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4 class="card-title text-center">30012345</h4>
      </div>
      <div class="col-sm-6">
        <h4 class="card-title text-center">17A630753</h4>
      </div>
    </div>
  </div>

  <div class="card-footer text-white bg-default">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="checkbox" checked="" autocomplete="off"><i class="fa fa-file-text fa-fw"></i> Application List
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"><i class="fa fa-safari fa-fw"></i> Meter List
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"><i class="fa fa-bell-o fa-fw"></i> Notification List
      </label>
    </div>
  </div>
</div>