<div class="card sm-12">
    <div class="card-header text-white bg-primary">Customer Search</div>
    <div class="card-body">
        <h4 class="card-title">Customer Search</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
    </div>
</div>

<hr>

<div class="card sm-12">
    <div class="card-header text-white bg-primary">Search Result</div>
    <div class="card-body">
        <h4 class="card-title">Customer Search</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>

        <!-- <aw-wizard>
      <aw-wizard-step stepTitle="Check Documents">
        <div class="row">
          <div class="col-sm-12">
            Content of Step 1
          </div>
          <div class="col-sm-12">
            <button type="button" class="btn btn-primary" awNextStep>Next Step</button>
            <button type="button" class="btn btn-primary" [awGoToStep]="{stepIndex: 2}">Go directly to third
              Step</button>
          </div>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Title of step 2" awOptionalStep>
        Content of Step 2
        <button type="button" class="btn btn-primary" awPreviousStep>Go to previous step</button>
        <button type="button" class="btn btn-primary" awNextStep>Go to next step</button>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Title of step 3">
        Content of Step 3
        <button type="button" class="btn btn-primary" awPreviousStep>Previous Step</button>
        <button type="button" class="btn btn-primary" awNextStep>Go to next step</button>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Title of step 4">
        Content of Step 4
        <button type="button" class="btn btn-primary" awPreviousStep>Go to previous step</button>
        <button type="button" class="btn btn-primary" awNextStep>Go to next step</button>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Title of step 5">
        Content of Step 5
        <button type="button" class="btn btn-primary" awPreviousStep>Previous Step</button>
        <button type="button" class="btn btn-primary" (click)="finishFunction()">Finish</button>
      </aw-wizard-step>
    </aw-wizard> -->
    </div>
</div>

<hr>


<div class="card sm-12">
    <div class="card-header text-white bg-primary">Customer Search</div>
    <div class="card-body">
        <h4 class="card-title">Customer Search</h4>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Type</th>
                    <th scope="col">Column heading</th>
                    <th scope="col">Column heading</th>
                    <th scope="col">Column heading</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Active</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <th scope="row">Default</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>