<div *ngIf="transactionData">
  <div class="row">
    <div class="col-lg-6 pr-2">
      <div class="card mb-3">
        <div class="card-body h-100">
          <div class="row">
            <div class="col-lg-12">
              <small class="text-muted">Tender</small>
            </div>
            <div class="col-lg-12">
              <strong>
                <span class="text-primary">{{transactionData?.tender_title}}</span>
              </strong>
            </div>
            <div class="col-lg-12">
              <span class="text-muted">{{transactionData?.tender_reference_no}}</span>
            </div>
            <div class="col-lg-12">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span class="text-primary"> {{transactionData?.tender_announce_from_friendly}}
              </span>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <span class="text-primary">
                {{transactionData?.tender_announce_to_friendly}}</span>
            </div>
            <div class="col-lg-12">
            </div>
            <div class="col-lg-12">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-6 pl-2">
      <div class="card mb-3">
        <div class="card-body py-2">
          <div class="row">
            <div class="col-lg-12">
              <small class="text-muted">Paid By / On</small>
            </div>
            <div class="col-lg-12">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="text-primary">{{transactionData?.payment_paid_by}}</span>
            </div>

            <div class="col-lg-12">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span class="text-primary">{{transactionData?.payment_paid_by_email}}</span>
            </div>

            <div class="col-lg-12">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="text-primary">{{transactionData?.payment_paid_by_name}}</span>
            </div>

            <div class="col-lg-12">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span class="text-primary">{{transactionData?.payment_paid_on_friendly}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-12" *ngIf="transactionData?.payment_tender_document_issued_on_friendly">
      <div class="card mb-3">
        <div class="card-body py-2">
          <div class="row">
            <div class="col-lg-12">
              <small class="text-muted">Document Issued </small>
            </div>
            <div class="col-lg-12">
              <span class="text-muted">Issued Date: </span>
              <span class="text-primary">{{transactionData?.payment_tender_document_issued_on_friendly}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="card mb-0">
        <div class="card-body py-2">
          <div class="row">
            <div class="col-lg-12">
              <small class="text-muted">Bank Response & SAP Status</small>
            </div>

            <div class="col-lg-12">
              <span class="text-muted">Gateway Ref: </span>
              <span class="text-primary">{{transactionData?.payment_gateway_reference}}</span>
            </div>

            <div class="col-lg-12">
              <span class="text-primary"
                [ngClass]="transactionData?.payment_is_successful === true ? 'text-success' : 'text-warning'"
                *ngIf="transactionData?.payment_has_gateway_response">
                {{transactionData?.payment_gateway_response_description}}
              </span>
              <span class="text-warning"
                [ngClass]="transactionData?.payment_is_successful === true ? 'text-warning' : 'text-danger'"
                *ngIf="!transactionData?.payment_has_gateway_response">
                {{transactionData?.payment_gateway_response_description}}
              </span>
            </div>

            <div class="col-lg-12">
              <span class="text-primary">{{transactionData?.payment_external_reference_updated_on | date: 'dd MMM yyyy
                HH:mm'}}</span>
            </div>
            <div class="col-lg-12">
              <span class="text-muted">Updated to SAP on </span>
              <span class="text-success">{{transactionData?.payment_sap_updated_on_friendly}}</span>
            </div>
            <div class="col-lg-12">
              <span class="text-muted">Ref # </span>
              <span class="text-success">{{transactionData?.payment_sap_reference}}</span>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="transactionHistory && transactionHistory.length > 0">
    <div class="col-lg-12">
      <div class="card mt-3 mb-3">
        <div class="card-body py-2">
          <div class="row">
            <div class="col-lg-12">
              <small class="text-muted">Payment History </small>

              <table class="table table-hover table-striped" *ngIf="transactionHistory">
                <tr *ngFor="let history of transactionHistory">
                  <td  class="py-2">
                    <span class="badge badge-primary">{{history.history_type}}</span>
                  </td>
                  <td class="py-2">
                    <span>{{history.history_detail}}</span>
                  </td>
                  <td class="py-2">
                    <span>{{history.history_created_on_friendly}}</span>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>