<div class="card card-main-3 mb-3">
  <h3 class="card-header h5 bg-primary-200 font-weight-bold">Tender Payments | Search Transactions</h3>
  <div class="card-body">

    <!-- <app-comp-lib-loading-lg *ngIf="showLoader"></app-comp-lib-loading-lg> -->

    <div class="row">
      <div class="col-lg-3">
        <div class="row" *ngIf="transactionsList">
          <div class="col-sm-12">
            <div class="list-group" *ngFor="let tenderObj of transactionsList;">
              <div class="list-group-item list-group-item-action flex-column align-items-start px-3 py-2" [ngClass]="tenderObj.tender_id == selectedTenderId ? 'bg-light' : ''">
                <div class="row">
                  <div class="col-sm-12" style="padding-right: 8px;">
                    <div class="row">
                      <div class="col-sm-10 text-primary">
                        <i class="fa fa-envelope" aria-hidden="true"></i> {{tenderObj?.tender_title}}
                      </div>

                      <div class="col-sm-2 text-primary">
                        <div class="float-right">
                          <div class="row">
                            <div class="col-sm-12" style="padding-left: 5px; padding-right: 5px;">
                              <button type="button" class="btn btn-link btn-sm py-0"
                                (click)="viewSelectedTenderPayments(tenderObj)" data-toggle="tooltip"
                                data-placement="top" title="View Details">
                                <i class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-12 text-dark">
                        <i class="fa fa-files-o" aria-hidden="true"></i> {{tenderObj?.tender_reference_no}}
                      </div>
                      <div class="col">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <small class="text-primary"> {{tenderObj?.tender_announce_from_friendly}}
                        </small>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <small class="text-primary">
                          {{tenderObj?.tender_announce_to_friendly}}</small>
                      </div>
                      <div class="col-auto">
                        <div class="float-right">
                          <span class="badge badge-success" *ngIf="tenderObj?.tender_is_published">Published</span>
                          <span class="badge badge-danger" *ngIf="!tenderObj?.tender_is_published">Not Published</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <button type="button" class="btn btn-primary btn-block" (click)="getPaymentsFromShowMore()">Show More</button>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <section *ngIf="selectedTenderPayments">

          <!-- <div *ngIf="showSelectedTender && selectedTenderPayments.length"> -->
          <div class="row" *ngIf="selectedTenderPayments && selectedTenderPayments.length < 1">
            <div class="col-lg-12" *ngIf="selectedTenderPayments && selectedTenderPayments.length < 1">
              <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> <span class="mb-0">There are no tender payment transactions for the selected criteria.</span>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="selectedTenderPayments && selectedTenderPayments?.length > 0">
            <div class="col-sm-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-2">
                  <li class="breadcrumb-item"><a>
                      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Go Back</a></li>
                  <li class="breadcrumb-item font-weight-bold"><a>Tender Payment Details</a></li>
                </ol>
              </nav>
            </div>
          </div>

          <div class="card sm-12" *ngIf="selectedTenderPayments && selectedTenderPayments?.length > 0">
            <div class="card-header h6 text-primary-500 bg-primary-100 font-weight-bold">Tender Payment</div>
            <div class="card-body p-0">
              <app-tender-payment-transactions [transactionsList]="selectedTenderPayments"
                [transactionsListWithPagination]="transactionsListWithPagination" [showLoader]="showLoader"
                [viewType]="viewType">
              </app-tender-payment-transactions>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>