<div class="row">
  <div class="col-sm-2" *ngFor="let arrayData of arrayDatas"
    style="padding-top: 5px !important; padding-bottom: 5px !important;">

    <div class="card text-white bg-primary" [style.backgroundColor]="arrayData.bgcolor">
      <div class="card-header">Header</div>
      <div class="card-body" class="back" [style.backgroundColor]="arrayData.color">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick </p>
      </div>
    </div>

  </div>
</div>




<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,600,500,300,300italic" rel="stylesheet" type="text/css" /> -->

<nav class="dash">
  <ul>
    <li class="big">
      <div class="front" id="box3">
        <i class="blue-big-icon fas fa-rocket"></i>
        <span class="gtm-title"><b>GO TO MARKET</b></span>
      </div>
      <div class="back gtm">
        <a href="" target="_blank">Meetings Calendar</a>
        <a>Meeting Summaries & Recordings</a>
        <a href="" target="_blank">Release Documents</a>
      </div>
    </li>

    <li class="big">
      <div class="front" id="box4">
        <i class="blue-big-icon fa fa-cube"></i>
        <span class="blue-title"><b>PRODUCTS</b></span>
      </div>
      <div class="back products-lt">
        <a href="" target="_blank">Products</a>
        <a>Product Catalog</a>
        <a>Product List for RFP's</a>
      </div>
    </li>

    <li class="big">
      <div class="front" id="box1">
        <i class="blue-big-icon fas fa-cubes"></i>
        <span class="product-rls-title"><b>PRODUCT</b></span>
        <span class="product-rls-title-sub"><b>RELEASES</b></span>
      </div>
      <div class="back prod-rls-dash-lt">
        <a href="">What's New</a>
        <a>Release Documents</a>
        <a>Release Schedule</a>
      </div>
    </li>

    <li class="big">
      <div class="front" id="box9">
        <i class="industry-icon fas fa-building"></i>
        <span class="industry-info-title"><b>INDUSTRY</b></span>
        <span class="industry-info-title-sub"><b>INFORMATION</b></span>
      </div>
      <div class="back industry-info-lt">
        <a href="_blank">Industry Research</a>
        <a>Conferences</a>
        <a>CCC Crash Course</a>
      </div>
    </li>

    <li class="big">
      <div class="front" id="box5">
        <i class="team-big-icon fas fa-users"></i><span class="product-mng-title"><b>PRODUCT</b></span><span
          class="product-mng-title-sub"><b>MANAGEMENT</b></span></div>
      <div class="back product-mng-lt">
        <a href="" target="_blank">Product Management Overview</a><a>Product Management Team</a></div>
    </li>

    <li class="big">
      <div class="front" id="box8">
        <i class="product-roadmap-icon fas fa-map"></i><span class="product-roadmap-title"><b>PRODUCT</b></span><span
          class="product-roadmap-title-sub"><b>ROADMAPS</b></span></div>
      <div class="back product-roadmap">
        <a href="" target="_blank">Product Roadmaps</a><a>Product Pod Casts</a><a href="" target="_blank">Product
          Updates</a><a href="" target="_blank">PDM Team Library</a></div>
    </li>

    <li class="big">
      <div class="front" id="box6">
        <i class="artifacts-big-icon fas fa-file-alt"></i><span class="artifacts-title"><b>ARTIFACTS</b></span><span
          style="font-size: 1em;">&</span><span class="artifacts-title-sub"><b>PROCESSES</b></span></div>
      <div class="back artifacts">
        <a>Product Lifecycle Management Process</a><a>Process Documentation</a></div>
    </li>


    <li class="big">
      <div class="front" id="box7">
        <i class="product-backlog-icon fas fa-clipboard-list"></i><span
          class="product-backlog-title"><b>PRODUCT</b></span><span
          class="product-backlog-title-sub"><b>BACKLOG</b></span>
      </div>
      <div class="back backlog">
        <a href="" target="_blank">Product Backlogs</a>
        <a href="" target="_blank">Opportunity Sketch Repository</a>
        <a href="" target="_blank">Submit New Opportunity Sketch</a></div>
    </li>


    <li class="big">
      <div class="front" id="box10">
        <i class="contact-big-icon fa fa-envelope"></i>
        <span class="blue-title"><b>CONTACT US</b></span>
      </div>
      <div class="back contact">
        <a>Frequently Asked Questions</a>
        <a>PDM Request Mailbox</a>
      </div>
    </li>


    <li class="big" style="display:none;">
      <div class="front" id="box10">
        <i class="contact-big-icon fa fa-envelope"></i>
        <span class="blue-title"><b>CONTACT US</b></span>
      </div>
      <div class="back contact">
        <a>Frequently Asked Questions</a>
        <a>PDM Request Mailbox</a>
      </div>
    </li>


  </ul>
</nav>