<!-- <script>
    jQuery(function ($) {

        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if ($(this).parent().hasClass("active")) {
                $(".sidebar-dropdown").removeClass("active");
                $(this).parent().removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this).next(".sidebar-submenu").slideDown(200);
                $(this).parent().addClass("active");
            }
        });

        $("#toggle-sidebar").click(function () {
            $(".page-wrapper").toggleClass("toggled");
        });
    });
</script> -->

<app-adminconsole-navbar></app-adminconsole-navbar>
<main class="page-content">
    <div class="container-fluid">
        <router-outlet name="pages"></router-outlet>
    </div>
</main>