<div class="row" style="padding-bottom: 15px;">
  <div class="col-sm-12">
    <app-facility-booking-profile-card></app-facility-booking-profile-card>
  </div>
</div>

<div class="row" style="">
  <div class="col-sm-12">
    <ul class="sidebar-nav">
      <!-- <li class="sidebar-brand">
            <a>Logo</a>
          </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/facility-booking']"><i class="fa fa-home"></i> Home</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/facility-booking', {outlets: {pages: ['booking']}}]">
          <i class="fa fa-file-text"></i> Booking </a>
      </li>
    </ul>
  </div>
</div>