<section class="align-items-center d-flex justify-content-center">
    <div class="flipbox">
        <div class="back fb-b-1" (click)="gotoSysAdmin()">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a><i class="fa fa-cogs"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">System Admin</h2>
                </div>
            </div>
        </div>
        <div class="front fb-f-1">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-cogs"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">System Admin</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-2" (click)="gotoIct()">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a><i class="fa fa-laptop"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-2">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-laptop"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">ICT</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-3" (click)="gotoCommon()">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a><i class="fa fa-tint"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-3">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-tint"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Common</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-4" (click)="gotoDutyRoster()">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a><i class="fa fa-users"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-4">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-users"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Duty Roster</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-5" (click)="gotoGts()">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a><i class="fa fa-shield"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-5">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Guard Tour System</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-6" (click)="gotoFinance()">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a><i class="fa fa-money"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-6">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-money"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Finance</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-7" (click)="gotoHr()">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a><i class="fa fa-money"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-7">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-money"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Human Resources</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-8" (click)="gotoRvm()">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a><i class="fa fa-wrench"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-8">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">RVM</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-9">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a (click)="gotoCss()"><i class="fa fa-user"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-9">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Customer Service System</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-10">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a (click)="gotoHome()"><i class="fa fa-wrench"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-10">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Facility Booking</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-11">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a (click)="gotoHome()"><i class="fa fa-wrench"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-11">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Title</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-12">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a (click)="gotoHome()"><i class="fa fa-wrench"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-12">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Title</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-13">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a (click)="gotoHome()"><i class="fa fa-wrench"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-13">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Title</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-14">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a (click)="gotoHome()"><i class="fa fa-wrench"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-14">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Title</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flipbox">
        <div class="back fb-b-15">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <a (click)="gotoHome()"><i class="fa fa-wrench"></i></a>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                </div>
            </div>
        </div>
        <div class="front fb-f-15">
            <div class="row">
                <div class="col-sm-12 col-sm-12-icon">
                    <i class="fa fa-windows"></i>
                </div>
                <div class="col-sm-12 col-sm-12-title">
                    <h2 id="flipboxTitle">Title Title Title Title Title Title Title Title</h2>
                </div>
            </div>
        </div>
    </div>
</section>

