body {
    font-family: Tahoma;
}

a.add {
    // color: #428bca;
    color: #5cb85c;
    font-size: 12px;
}

a.assign {
    color: #5cb85c;
}

a.view {
    color: #03A9F4;
}

a.edit {
    color: #FFC107;
}

a.delete {
    color: #E34724;
}

a.restore-data {
    color: #fdff7b;
}

a.delete-data {
    color: #ffb8a8;
}

a.restore-table {
    color: #FFC107;
}

a.delete-table {
    color: #E34724;
}

.btn-card {
    // padding-top: 4px;
    padding-bottom: 4px;
    // margin-bottom: 0px;
    display: inline-flex; // vertical-align: middle !important;
    vertical-align: middle !important;
    align-items: center !important;
    justify-content: center !important; // resetters
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr; // optimizers
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.btn-gotoback {
    margin-bottom: 5px !important;
    font-size: 13px;
    font-weight: 500;
    // font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #b6e3eb;
    background: #138a9c;
    color: #b6e3eb;
}

.btn-gotoback:hover {
    margin-bottom: 5px !important;
    border: 1px solid #138a9c;
    background: #b6e3eb;
    color: #138a9c;
}

// =====================================================
.btn.btn-link-custom-header {
    // color: #5cb85c;
    color: #03A9F4;
    font-size: 12px;
}

.custom-button-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

// =====================================================
.material-icons.btnWithMaterial-icon {
    font-size: 0.9rem !important;
}

.btn.btnWithMaterial-icon {
    display: inline-flex; // vertical-align: middle !important;
    vertical-align: middle !important;
    align-items: center !important;
    justify-content: center !important; // resetters
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr; // optimizers
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.badge.badge-weeklyShiftYear {
    max-width: 40px !important;
    min-width: 40px !important;
    word-wrap: break-word;
    display: inline-block !important;
}

.badge.badge-employeeId {
    max-width: 40px !important;
    min-width: 40px !important;
    word-wrap: break-word;
    display: inline-block !important;
}

// =====================================================
.hr-custom {
    // padding-top: 3px !important;
    // padding-bottom: 3px !important;
    margin-top: 10px !important;
    margin-bottom: 12px !important;
}

// =====================================================
.modal {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

// =====================================================
.form-control {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

// =====================================================
.custom-col-sm-2 {
    padding-right: 7px !important;
    padding-left: 7px !important;
}

// =====================================================
.card.card-custom-01 {
    border-radius: 0rem !important;
    margin: 3px !important;
}

.card.card-custom-01>.card-header {
    // background-color: #0a3761;
    color: black;
    font-weight: bold;
    font-size: 13px;
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
    border-radius: 0rem !important
}

.card.card-custom-01>.card-body {
    // overflow-y: auto;
    font-size: 13px;
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
}

.card.card-custom-01>.card-footer {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important; // background-color: #738aa6; // border: 1px;
}

// =====================================================
#accordionTitle {
    text-align: left; // grid-column: 1 / -1;
    font-size: 15px;
    font-weight: bold; // padding: 10px 0;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
}

// =====================================================
.card.card-accordion-01 {
    border-radius: 0rem !important;
    margin: 3px !important;
}

.card.card-accordion-01>.card-header {
    // background-color: #0a3761;
    // color: white;
    // font-weight: bold;
    font-size: 14px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
    border-radius: 0rem !important
}

.card.card-accordion-01>.card-body {
    // overflow-y: auto;
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
}

.card.card-accordion-01>.card-footer {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important; // background-color: #738aa6; // border: 1px;
}

// =====================================================
.card.card-tabContent-01 {
    border-radius: 0rem !important;
    border: 0px; // margin: 3px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.card.card-tabContent-01>.card-header {
    // background-color: #0a3761;
    // color: white;
    // font-weight: bold;
    font-size: 14px;
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
    border-radius: 0rem !important;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.card.card-tabContent-01>.card-body {
    // overflow-y: auto;
    padding-top: 15px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
}

.card.card-tabContent-01>.card-footer {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important; // background-color: #738aa6; // border: 1px;
}

// =====================================================
.card.card-tabContent-02 {
    border-radius: 0rem !important; // border: 0px;
    // margin: 3px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.card.card-tabContent-02>.card-header {
    // background-color: #0a3761;
    // color: white;
    // font-weight: bold;
    font-size: 14px;
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
    border-radius: 0rem !important;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.card.card-tabContent-02>.card-body {
    // overflow-y: auto;
    padding-top: 15px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}

.card.card-tabContent-02>.card-footer {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important; // background-color: #738aa6; // border: 1px;
}

// =====================================================
.card.card-tabContent-22 {
    border-radius: 0rem !important; // border: 0px;
    // margin: 3px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.card.card-tabContent-22>.card-header {
    // background-color: #0a3761;
    // color: white;
    // font-weight: bold;
    font-size: 14px;
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
    border-radius: 0rem !important;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.card.card-tabContent-22>.card-body {
    // overflow-y: auto;
    padding-top: 15px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}

.card.card-tabContent-22>.card-footer {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important; // background-color: #738aa6; // border: 1px;
}
// =====================================================
.card.card-tabContent-02-Active {
    border-radius: 0rem !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
    padding: 0px !important;
    background-color: #17a2b8;
    border-color: #bee5eb;
    color: #ffffff;
    font-size: 16px;
}

.card.card-tabContent-02-Active>.card-header {
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
}

.card.card-tabContent-02-Active>.card-body {
    // overflow-y: auto;
    padding-top: 15px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
}

.card.card-tabContent-02-Active>.card-footer {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

// =====================================================
.card.card-tabContent-02-InActive {
    border-radius: 0rem !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
    padding: 0px !important;
    background-color: #9c9c9c!important;
    border-color: #919191;
    color: #d3d3d3;
    font-size: 16px;
}

.card.card-tabContent-02-InActive>.card-header {
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
}

.card.card-tabContent-02-InActive>.card-body {
    // overflow-y: auto;
    padding-top: 15px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
}

.card.card-tabContent-02-InActive>.card-footer {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

// =====================================================
.card.card-tabContent-03 {
    border-radius: 0rem !important;
    // padding-bottom: 15px !important;
    // padding-top: 15px !important;
    background-color: #17a2b8;
    border-color: #bee5eb;
    color: #ffffff;
    margin-bottom: 15px !important;
}

.card.card-tabContent-03>.card-header {
    font-size: 14px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
    border-radius: 0rem !important
}

.card.card-tabContent-03>.card-body {
    // overflow-y: auto;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
    font-size: 55px;
    font-weight: bold;
}

.card.card-tabContent-03>.card-footer {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
}

// =====================================================
.card.card-tabContent-04 {
    border-radius: 0rem !important;
    // padding-bottom: 15px !important;
    // padding-top: 15px !important;
    background-color: #17a2b8;
    border-color: #bee5eb;
    color: #ffffff;
    margin-bottom: 15px !important;
}

.card.card-tabContent-04>.card-header {
    font-size: 14px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
    border-radius: 0rem !important
}

.card.card-tabContent-04>.card-body {
    // overflow-y: auto;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    margin: 0px !important;
    font-size: 30px;
    font-weight: bold;
}

.card.card-tabContent-04>.card-footer {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0px !important;
}

// =====================================================
#tblTitle {
    text-align: left; // grid-column: 1 / -1;
    font-size: 130%;
    font-weight: bold; // padding: 10px 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1b9db0 !important;
}

// =====================================================
#tabTitle {
    text-align: left; // grid-column: 1 / -1;
    font-size: 130%;
    font-weight: bold; // padding: 10px 0;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1b9db0 !important;
}

// =====================================================
#cardTitle {
    text-align: left; // grid-column: 1 / -1;
    font-size: 100%;
    font-weight: bold; // padding: 10px 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1b9db0 !important;
}

#cardTitle-Year {
    text-align: left; // grid-column: 1 / -1;
    // font-size: 150%;
    // font-weight: bold; // padding: 10px 0;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1b9db0 !important;
}

// =====================================================
#shiftGroupsTbl .thead-custom th:nth-child(1) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 50px;
    width: 50px;
    vertical-align: middle;
}

#shiftGroupsTbl .thead-custom th:nth-child(2),
#shiftGroupsTbl .thead-custom th:nth-child(3),
#shiftGroupsTbl .thead-custom th:nth-child(4),
#shiftGroupsTbl .thead-custom th:nth-child(5),
#shiftGroupsTbl .thead-custom th:nth-child(6),
#shiftGroupsTbl .thead-custom th:nth-child(7),
#shiftGroupsTbl .thead-custom th:nth-child(8) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#shiftGroupsTbl .thead-custom td:last-child {
    max-width: 300px;
    width: 300px;
    color: #970000;
}

#shiftGroupsTbl .tbody-custom th:nth-child(1) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#shiftGroupsTbl .tbody-custom td:nth-child(2),
#shiftGroupsTbl .tbody-custom td:nth-child(3),
#shiftGroupsTbl .tbody-custom td:nth-child(4),
#shiftGroupsTbl .tbody-custom td:nth-child(5),
#shiftGroupsTbl .tbody-custom td:nth-child(6),
#shiftGroupsTbl .tbody-custom td:nth-child(7),
#shiftGroupsTbl .tbody-custom td:nth-child(8) {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#shiftGroupsTbl .tbody-custom td:last-child {
    max-width: 150px;
    width: 150px;
    color: #970000;
}

#shiftGroupsTbl .tbody-custom .td.btn {
    color: #970000 !important;
    font-size: 10px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

// =====================================================
#weeklyShiftsTbl .thead-custom th:nth-child(1) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 50px;
    width: 50px;
    vertical-align: middle;
}

#weeklyShiftsTbl .thead-custom th:nth-child(2),
#weeklyShiftsTbl .thead-custom th:nth-child(3),
#weeklyShiftsTbl .thead-custom th:nth-child(4),
#weeklyShiftsTbl .thead-custom th:nth-child(5),
#weeklyShiftsTbl .thead-custom th:nth-child(6),
#weeklyShiftsTbl .thead-custom th:nth-child(7),
#weeklyShiftsTbl .thead-custom th:nth-child(8),
#weeklyShiftsTbl .thead-custom th:nth-child(9),
#weeklyShiftsTbl .thead-custom th:nth-child(10),
#weeklyShiftsTbl .thead-custom th:nth-child(11) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#weeklyShiftsTbl .thead-custom td:last-child {
    max-width: 300px;
    width: 300px;
    color: #970000;
}

#weeklyShiftsTbl .tbody-custom th:nth-child(1) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#weeklyShiftsTbl .tbody-custom td:nth-child(2),
#weeklyShiftsTbl .tbody-custom td:nth-child(3),
#weeklyShiftsTbl .tbody-custom td:nth-child(4),
#weeklyShiftsTbl .tbody-custom td:nth-child(5),
#weeklyShiftsTbl .tbody-custom td:nth-child(6),
#weeklyShiftsTbl .tbody-custom td:nth-child(7),
#weeklyShiftsTbl .tbody-custom td:nth-child(8),
#weeklyShiftsTbl .tbody-custom td:nth-child(9),
#weeklyShiftsTbl .tbody-custom td:nth-child(10),
#weeklyShiftsTbl .tbody-custom td:nth-child(11) {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#weeklyShiftsTbl .tbody-custom td:last-child {
    max-width: 350px;
    width: 350px;
    color: #970000;
}

#weeklyShiftsTbl .tbody-custom .td.btn {
    color: #970000 !important;
    font-size: 10px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

// =====================================================
#shiftEmployeesTbl .thead-custom th:nth-child(1) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 50px;
    width: 50px;
    vertical-align: middle;
}

#shiftEmployeesTbl .thead-custom th:nth-child(2),
#shiftEmployeesTbl .thead-custom th:nth-child(3),
#shiftEmployeesTbl .thead-custom th:nth-child(4),
#shiftEmployeesTbl .thead-custom th:nth-child(5),
#shiftEmployeesTbl .thead-custom th:nth-child(6),
#shiftEmployeesTbl .thead-custom th:nth-child(7),
#shiftEmployeesTbl .thead-custom th:nth-child(8),
#shiftEmployeesTbl .thead-custom th:nth-child(9),
#shiftEmployeesTbl .thead-custom th:nth-child(10) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#shiftEmployeesTbl .thead-custom td:last-child {
    max-width: 300px;
    width: 300px;
    color: #970000;
}

#shiftEmployeesTbl .tbody-custom th:nth-child(1) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#shiftEmployeesTbl .tbody-custom td:nth-child(2),
#shiftEmployeesTbl .tbody-custom td:nth-child(3),
#shiftEmployeesTbl .tbody-custom td:nth-child(4),
#shiftEmployeesTbl .tbody-custom td:nth-child(5),
#shiftEmployeesTbl .tbody-custom td:nth-child(6),
#shiftEmployeesTbl .tbody-custom td:nth-child(7),
#shiftEmployeesTbl .tbody-custom td:nth-child(8),
#shiftEmployeesTbl .tbody-custom td:nth-child(9),
#shiftEmployeesTbl .tbody-custom td:nth-child(10) {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#shiftEmployeesTbl .tbody-custom td:last-child {
    max-width: 150px;
    width: 150px;
    color: #970000;
}

#shiftEmployeesTbl .tbody-custom .td.btn {
    color: #970000 !important;
    font-size: 10px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

// =====================================================
#shiftSupervisorsTbl .thead-custom th:nth-child(1) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 50px;
    width: 50px;
    vertical-align: middle;
}

#shiftSupervisorsTbl .thead-custom th:nth-child(2),
#shiftSupervisorsTbl .thead-custom th:nth-child(3),
#shiftSupervisorsTbl .thead-custom th:nth-child(4),
#shiftSupervisorsTbl .thead-custom th:nth-child(5),
#shiftSupervisorsTbl .thead-custom th:nth-child(6),
#shiftSupervisorsTbl .thead-custom th:nth-child(7),
#shiftSupervisorsTbl .thead-custom th:nth-child(8),
#shiftSupervisorsTbl .thead-custom th:nth-child(9),
#shiftSupervisorsTbl .thead-custom th:nth-child(10) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#shiftSupervisorsTbl .thead-custom td:last-child {
    max-width: 300px;
    width: 300px;
    color: #970000;
}

#shiftSupervisorsTbl .tbody-custom th:nth-child(1) {
    background-color: #f1fbfd;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#shiftSupervisorsTbl .tbody-custom td:nth-child(2),
#shiftSupervisorsTbl .tbody-custom td:nth-child(3),
#shiftSupervisorsTbl .tbody-custom td:nth-child(4),
#shiftSupervisorsTbl .tbody-custom td:nth-child(5),
#shiftSupervisorsTbl .tbody-custom td:nth-child(6),
#shiftSupervisorsTbl .tbody-custom td:nth-child(7),
#shiftSupervisorsTbl .tbody-custom td:nth-child(8),
#shiftSupervisorsTbl .tbody-custom td:nth-child(9),
#shiftSupervisorsTbl .tbody-custom td:nth-child(10) {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#shiftSupervisorsTbl .tbody-custom td:last-child {
    max-width: 150px;
    width: 150px;
    color: #970000;
}

#shiftSupervisorsTbl .tbody-custom .td.btn {
    color: #970000 !important;
    font-size: 10px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

// =====================================================
.btn.btn-primary {
    border-radius: 0 !important;
}

.btn.btn-secondary {
    border-radius: 0 !important;
}

.btn.btn-success {
    border-radius: 0 !important;
}

.btn.btn-danger {
    border-radius: 0 !important;
}

.btn.btn-warning {
    border-radius: 0 !important;
}

.btn.btn-info {
    border-radius: 0 !important;
}

.btn.btn-light {
    border-radius: 0 !important;
}

.btn.btn-dark {
    border-radius: 0 !important;
}

// =====================================================
.tab-pane-custom {
    margin: 0px !important;
    padding: 0px !important;
}

// .card-tabContent-01 {
// }
// =====================================================
.customTwo-col-sm-12 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.nav-tabs {
    border-bottom: 1px solid #e4e4e4;
}

.nav-tabs>li>a {
    border-radius: 0px;
    border: 1px solid #e4e4e4;
    border-right: 0px none;
    margin-right: 0px;
    padding: 8px 17px;
    color: #1b9db0;
    transition: all 0.3s ease-in 0s;
}

.nav-tabs>li:last-child {
    border-right: 1px solid #e4e4e4;
}

.nav-tabs>li>a {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.nav-tabs>li>a:hover {
    // border: 1px solid #ea5e50;
    border: 1px solid #b6e3eb;
    border-right: 0px none;
    background: #1b9db0;
    color: #d1ecf1;
}

.nav-tabs>li.active {
    // border-top: 1px solid #ea5e50;
    border-top: 1px solid #1b9db0;
    border-right: 0px none;
    background: #d1ecf1;
    color: #1b9db0;
}

// .nav-tabs > li.active > a,
// .nav-tabs > li.active > a:hover
.nav-tabs>li.active>a:focus {
    border-top: 1px solid #1b9db0;
    border-right: 0px none;
    background: #b6e3eb;
    color: #138a9c;
}

.tab-content>.tab-pane {
    border: 1px solid #e4e4e4;
    border-top: 0px none;
    padding: 20px;
    line-height: 22px;
    color: #7e828a;
}

// =====================================================