.navbar {
    // background: #00897B !important;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-item .nav-link {
    font-size: 13px;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
    // color: #0fb3b3 !important;
}

.nav-item .nav-link:a {
    // color: #0fb3b3 !important;
}

.navbar .nav-item .nav-link {
    // color: #ffffff !important;
    font-weight: 500;
}

.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link {
    color: red !important;
}

.dropdown-menu .dropdown-item {
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    // color: #008080 !important;
    font-weight: 500;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    padding-top: 4px;
    padding-bottom: 4px;
    // color: #008080 !important;
    // background: #d1ecf1 !important;
}

.row-custom {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.col-custom-01 {
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 270px;
    text-align: left !important;
    vertical-align: middle !important;
}

.col-custom-02 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle !important;
}

.col-custom-03 {
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle !important;
    position: absolute;
    right: 0;
}


/*--------------------sidebar-brand----------------------*/

.sidebar-brand {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    flex-grow: 1;
    color: #afd8a8 !important;
}

.fa {
    color: #ffffff;
}