<section>
  <div class="tile-container" id="style-2">
    <a class="dropdown-tile a-app-1" (click)="gotoHome()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-ravelry app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-2" (click)="gotoHome()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-cogs app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Sys Admin
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-3" (click)="gotoIntranet()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-globe app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Intranet
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-4" (click)="gotoSis()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-linode app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Inventory Sys
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-5" (click)="gotoHelpdesk()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-desktop app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Helpdesk
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-6" (click)="gotoAppraisal()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-id-card-o app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Appraisal
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-7" (click)="gotoDutyRoster()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-clock-o app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          DutyRoster
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-8" (click)="gotoFinance()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-money app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Finance
        </div>
      </div>
    </a>

    <!-- <a class="dropdown-tile a-app-5" (click)="gotoHome()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-home app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-6" (click)="gotoHome()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-home app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-7" (click)="gotoHome()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-home app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-8" (click)="gotoHome()">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-home app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-9" [routerLink]="['/dutyroster']">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-home app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-10" [routerLink]="['/dutyroster']">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-home app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-12" [routerLink]="['/dutyroster']">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-home app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-13" [routerLink]="['/dutyroster']">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-home app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-14" [routerLink]="['/dutyroster']">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-home app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-1" [routerLink]="['/dutyroster']">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-home app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a>

    <a class="dropdown-tile a-app-2" [routerLink]="['/dutyroster']">
      <div class="card card-tile-01">
        <div class="card-body">
          <i class="fa fa-home app-icon" aria-hidden="true"></i>
        </div>
        <div class="card-footer">
          Home
        </div>
      </div>
    </a> -->
  </div>
</section>