$danger: #ff4444;
$danger-dark: #CC0000;
$warning: #ffbb33;
$warning-dark: #FF8800;
$success: #00C851;
$success-dark: #007E33;
$info: #33b5e5;
$info-dark: #0099CC;
$primary: #4285F4;
$primary-dark: #0d47a1;
$white: #ffffff;

$default-color: #2BBBAD;
$default-color-dark: #00695c;
$primary-color: #4285F4;
$primary-color-dark: #0d47a1;
$secondary-color: #aa66cc;
$secondary-color-dark: #9933CC;
$elegant-color: #2E2E2E;
$elegant-color-dark: #212121;
$stylish-color: #4B515D;
$stylish-color-dark: #3E4551;

$bg-primary-50: #e2f5f8;
$bg-primary-100: #D1ECF1;
$bg-primary-200: #BAE2E9;
$bg-primary-300: #A4D8E1;
$bg-primary-400: #8DCED9;
$bg-primary-500: #76C5D1;
$bg-primary-600: #5FBBC8;
$bg-primary-700: #49B1C0;
$bg-primary-800: #32A7B8;
$bg-primary-900: #17a2b8;
$bg-primary-1100: #188697;
$bg-primary-1200: #157B8B;
$bg-primary-1300: #12707F;
$bg-primary-1400: #0F6572;

.bg-primary-50 {
    background-color: $bg-primary-50 !important;
}

.bg-primary-100 {
    background-color: $bg-primary-100 !important;
}

.bg-primary-200 {
    background-color: $bg-primary-200 !important;
}

.bg-primary-300 {
    background-color: $bg-primary-300 !important;
}

.bg-primary-400 {
    background-color: $bg-primary-400 !important;
}

.bg-primary-500 {
    background-color: $bg-primary-500 !important;
}

.bg-primary-600 {
    background-color: $bg-primary-600 !important;
}

.bg-primary-700 {
    background-color: $bg-primary-700 !important;
}

.bg-primary-800 {
    background-color: $bg-primary-800 !important;
}

.bg-primary-900 {
    background-color: $bg-primary-900 !important;
}

.bg-primary-1100 {
    background-color: $bg-primary-1100 !important;
}

.bg-primary-1200 {
    background-color: $bg-primary-1200 !important;
}

.bg-primary-1300 {
    background-color: $bg-primary-1300 !important;
}

.bg-primary-1400 {
    background-color: $bg-primary-1400 !important;
}

.text-primary-50 {
    color: $bg-primary-50 !important;
}

.text-primary-100 {
    color: $bg-primary-100 !important;
}

.text-primary-200 {
    color: $bg-primary-200 !important;
}

.text-primary-300 {
    color: $bg-primary-300 !important;
}

.text-primary-400 {
    color: $bg-primary-400 !important;
}

.text-primary-500 {
    color: $bg-primary-500 !important;
}

.text-primary-600 {
    color: $bg-primary-600 !important;
}

.text-primary-700 {
    color: $bg-primary-700 !important;
}

.text-primary-800 {
    color: $bg-primary-800 !important;
}

.text-primary-900 {
    color: $bg-primary-900 !important;
}

//---------------------

.hr-management-page-title-01 {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding-top: 17px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: $bg-primary-600 !important;
}

.hr-management-tab-title-01 {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 5px;
    color: $bg-primary-600 !important;
}