@import "./../../../e-service-styles.scss";

.list-group-item {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}